<div style="margin: 10px -20px;">
    <div class="alert alert-warning" ng-repeat="(key, error) in errors">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <small class="error-item">[[ error[0] ]]</small>
    </div>
    <div class="alert alert-success" ng-repeat="(key, message) in messages">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <small class="message-item">[[ message[0] ]]</small>
    </div>
</div>