<div class="row snippet" ng-click="select(schedule.id)">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <img src="http://placehold.it/400X200" alt="placeholder" class="img-room img-snippet">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" align="left">
        <div class="details">
            <h5><a ui-sref="schedule({id: schedule.id})"><strong>[[ schedule.f_name + ' ' + schedule.l_name ]]</strong></a></h5>
            <h5><strong>[[ schedule.schedule_id ]]</strong></h5>
            <h5><small>[[ schedule.department ]]</small></h5>
            <h5><small>[[ schedule.major ]]</small></h5>
            <h5><small>[[ schedule.phone ]]</small></h5>
        </div>
    </div>
</div>