<div class="snippet-small" ng-click="locate(course.id)">
    <div class="details-small">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                <h5><a ui-sref="course({id: course.id})">[[ course.name ]]</a></h5>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                <h5><small>[[ course.code ]]</small></h5>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                <h5><strong>[[ course.credits ]]</strong></h5>
            </div>
        </div>
    </div>
</div>